@font-face {
    font-family: overwatch;
    src: url(fonts/big_noodle_titling.ttf);
}

body {
    background-image: url(/images/ow2-background-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
}

#page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

#left-outside-container,
#right-outside-container {
    width: 500px;
}

#left-panel-container {
    /* background-color: white; */
    height: 30em;
    width: 30em;
}

#ow2-logo {
    width: 200px;
    padding-top: 35px;
    padding-bottom: 10px;
}

#ow2-logo-container {
    display: flex;
    justify-content: center;
}

#title-container {
    display: flex;
    justify-content: center;
    font-family: "overwatch";
    font-size: 4em;
}

#right-panel-container {
    display: flex;
    flex-direction: column;
}

#middle-right-panel-container {
    background-color: white;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px black;
    /* margin-top: 50px; */
}

#top-right-panel-container {
    background-color: grey;
    /* position: absolute; */
    height: 250px;
    border-radius: 10px 10px 0 0;
}


#right-panel-container h1 {
    font-family: "overwatch";
    font-size: 50px;
    margin-bottom: 0px;
}

#signup-legend {
    margin-bottom: 10px;
}


#text-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#first-column input[type="text"],
#first-column input[type="tel"],
#first-column input[type="email"],
#first-column input[type="password"],
#second-column input[type="text"],
#second-column input[type="tel"],
#second-column input[type="email"],
#second-column input[type="password"] {
    height: 30px;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

#first-column {
    display: flex;
    flex-direction: column;
}

#second-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#first-column,
#second-column {
    margin-top: 20px;
}

.label {
    font-family: "overwatch";
    font-size: 25px;
}

/* #bottom-right-panel-container {
    background-color: grey;
    height: 75px;
    border-radius: 0 0 10px 10px;
} */

#footer {
    background-color: grey;
    height: 75px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 10px;
}