@font-face {
    font-family: overwatch;
    src: url(fonts/big_noodle_titling.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(/fonts/steelfish\ rg.otf);
}

#page-container {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
}

#left-panel-container {
    width: 100%;
    background-image: url(https://i.postimg.cc/7YLHb7y9/ow2-panel-3.png);
    background-size: cover;
    background-position-x: 0%;
    background-repeat: no-repeat;
    /* flex-grow: 1;
    position: relative;
    width: 100vw;
    min-width: 345px;
    background-image: url(/images/ow2-panel-3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center; */
}

#ow2-logo {
    width: 200px;
    padding-top: 35px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 10px black);
}

#ow2-logo-container {
    display: flex;
    justify-content: center;
}

#title-container {
    display: flex;
    justify-content: center;
    font-family: "overwatch";
    font-size: 4em;
}

#right-panel-container {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    /* width: 100%;
    height: 100%; */
}

#middle-right-panel-container {
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px 0 5px 0;
}

#top-right-panel-container {
    background-color: rgb(224, 142, 75);
    height: 250px;
    box-shadow: 0px 0px 10px black;
}


#right-panel-container h1 {
    font-family: "overwatch";
    font-size: 50px;
}

#signup-legend {
    margin-bottom: 10px;
}


#text-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#first-column input[type="text"],
#first-column input[type="tel"],
#first-column input[type="email"],
#first-column input[type="password"],
#second-column input[type="text"],
#second-column input[type="tel"],
#second-column input[type="email"],
#second-column input[type="password"] {
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

#first-column {
    display: flex;
    flex-direction: column;
}

#second-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#first-column,
#second-column {
    margin-top: 20px;
}

.label {
    font-family: "overwatch";
    font-size: 25px;
}

#bottom-right-panel-container {
    background-color: rgb(224, 142, 75);
    height: 75px;
}

p {
    font-family: "paragraph-font";
    font-size: 30px;
}

#submit {
    background-color: orange;
    color: white;
    border-radius: 3px;
    font-family: "overwatch";
    font-size: 30px;
    height: 50px;
    width: 100px;
}

#submit-container {
    display: flex;
    justify-content: left;
}

#submit:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
    cursor: pointer;
}

#footer {
    font-family: "paragraph-font";
    text-align: center;
}
